/************************************
RESET
************************************/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;

}

body {
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    color: var(--sat-black);
}

/************************************
VARIABLES
************************************/
/* five shades of green,red and blue */
/* dull-white and near-white */
/*  near black*/
/* padding */
/* spacing for gutters */
/* radius*/
:root {
    --padding: 10px;
    --spacing: 5px;
    --radius: 10px;


    /* color */
    --near-white: #fff;
    --near-black: #000;
    --sat-white: #e6ffe6;
    --sat-black: #151915;
    --green_1: rgb(20, 251, 20);
    --green_2: rgb(20, 251, 20);

    --green_3: rgb(20, 251, 20);

    --green_4: rgb(20, 251, 20);

}


/************************************
TYPOGRAPHY
************************************/
.text_center {
    text-align: center;
}

/************************************
LAYOUT
************************************/
/* page wrapper */
.page_wrapper {
    box-shadow: -4px 4px 8px black;
    min-height: 100vh;
    background-color: var(--sat-white);

}

/* IMG */
.img {
    background-color: grey;
    display: block;
}

/* CONTAINERS */
.page_wrapper,
.container,
.container_md,
.container_lg,
.container_x_lg,
.container_xx_lg,
.container_fluid {
    width: 100%;
    display: block;
    padding-left: var(--padding, 10px);
    padding-right: var(--padding, 10px);
    margin-left: auto;
    margin-right: auto;
}

/* ROWS, COLUMNS GUTTERS*/
.nav {
    margin-left: calc(-1 * var(--padding));
    margin-right: calc(-1 * var(--padding));
}

.row {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    margin-top: var(--padding, 10px);
    margin-bottom: var(--padding, 10px);
}
.row > *{
    min-width: fit-content;
}
.col_12 {
    width: 100%;
}

.col_11 {
    width: 91.6667%;
}

.col_10 {
    width: 83.3333%;
}

.col_9 {
    width: 75%;
}

.col_8 {
    width: 61.6667%;
}

.col_7 {
    width: 58.3333%;
}

.col_6 {
    width: 50%;
}

.col_5 {
    width: 41.6667%;
}

.col_4 {
    width: 33.3333%;
}

.col_3 {
    width: 25%;
}

.col_2 {
    width: 16.6667%;
}

.col_1 {
    width: 8.3333%;
}

.row.g_1>* {
    padding: calc(var(--spacing)*0.5)
}

.row.g_2>* {
    padding: calc(var(--spacing)*1)
}

.row.g_3>* {
    padding: calc(var(--spacing)*1.5)
}

/* FLEX UTILS */
.flex_center {
    justify-content: center;
}

.flex_evenly {
    justify-content: space-evenly;
}

.flex_between {
    justify-content: space-between;
}

.align_around {
    align-content: space-around;
}

/* padding */
.p_3 {
    padding: calc(var(--padding) *3);
}

.p_2 {
    padding: calc(var(--padding) *2);
}

.p_1 {
    padding: calc(var(--padding) *1);
}

.p_y_3 {
    padding-bottom: calc(var(--padding) *3);
    padding-top: calc(var(--padding) *3);
}

.p_y_2 {
    padding-top: calc(var(--padding) *2);
    padding-bottom: calc(var(--padding) *2);
}

.p_y_1 {
    padding-bottom: calc(var(--padding) *1);
    padding-top: calc(var(--padding) *1);
}

/* NAVIGATION */
.nav_bar {

    min-height: calc(var(--padding, 10px)*5)
}

.nav,
.nav_list {
    display: flex;
    flex-flow: wrap row;
    align-content: center;
}

.nav {
    padding-top: calc(var(--padding));
    padding-bottom: calc(var(--padding));
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.nav_list_item {
    flex: 1 0 auto;
}

.logo {
    align-self: center;
}


/* ABOUT */
.about .row,
.pet_card>.row {
    align-items: center;
}

.about .row> :nth-child(2n)>.row> :nth-child(2n) {
    order: -1;
    text-align: end;
}

.about_img {
    border-radius: calc(var(--radius));
    height: auto;
    width: 100%;
    min-height: 5rem;
}


/* PROFILE*/
.profile_img {
    height: auto;
    min-height: 9rem;

}

.profile_card {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;

    position: relative;
    top: calc(-1 * var(--padding));
}

.profile_card>* {
    display: block;
    color: white;

}

/* pet page */


.banner {


    border-radius: var(--radius);
    border: 1px solid grey;
}

.banner>.row {
    min-height: 9rem;
}

.nav.pet_nav {
    box-shadow: none;
}

.search_bar {
    border: grey 1px solid;
    border-radius: var(--radius);
}

.search_bar>* {
    border: 0;
    outline: none;
    background-color: inherit;
    min-height: 30px;
}


.search_input {}

.search_input::placeholder {
    color: green;
}

.pet_card_texts,
.pet_card_img {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
}

.pet_card_img {
    width: 100%;
    min-height: 8rem;
    height: auto;
    border-radius: var(--radius);
    
    position:relative;
    z-index: 9;
}

.pet_card_texts {
    min-height:6.5rem;
    border-top-right-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
    background-color: var(--near-white, #fff);
}

/************************************
MEDIA QUERIES
************************************/
/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    :root {
        font-size: 1em;
    }

    .col_sm_12 {
        width: 100%;
    }

    .col_sm_11 {
        width: 91.6667%;
    }

    .col_sm_10 {
        width: 83.3333%;
    }

    .col_sm_9 {
        width: 75%;
    }

    .col_sm_8 {
        width: 61.6667%;
    }

    .col_sm_7 {
        width: 58.3333%;
    }

    .col_sm_6 {
        width: 50%;
    }

    .col_sm_5 {
        width: 41.6667%;
    }

    .col_sm_4 {
        width: 33.3333%;
    }

    .col_sm_3 {
        width: 25%;
    }

    .col_sm_2 {
        width: 16.6667%;
    }

    .col_sm_1 {
        width: 8.3333%;
    }

    /* about */
    .about_img {
        min-height: 6rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    :root {
        font-size: 1.5em;
    }

    /* PAGE WRAPPER */
    .page_wrapper {
        width: 70%;
    }

    /* CONTAINER */
    .container,
    .container_md {
        width: 720px;
    }

    .col_md_12 {
        width: 100%;
    }

    .col_md_11 {
        width: 91.6667%;
    }

    .col_md_10 {
        width: 83.3333%;
    }

    .col_md_9 {
        width: 75%;
    }

    .col_md_8 {
        width: 61.6667%;
    }

    .col_md_7 {
        width: 58.3333%;
    }

    .col_md_6 {
        width: 50%;
    }

    .col_md_5 {
        width: 41.6667%;
    }

    .col_md_4 {
        width: 33.3333%;
    }

    .col_md_3 {
        width: 25%;
    }

    .col_md_2 {
        width: 16.6667%;
    }

    .col_md_1 {
        width: 8.3333%;
    }

    /* about */
    .about_img {
        min-height: 7rem;
    }

    /* banner */
    .banner>.row {
        min-height: 9rem;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    :root {
        font-size: 2em;
    }


    .container,
    .container_md,
    .container_lg {
        width: 960px;
    }

    .col_lg_12 {
        width: 100%;
    }

    .col_lg_11 {
        width: 91.6667%;
    }

    .col_lg_10 {
        width: 83.3333%;
    }

    .col_lg_9 {
        width: 75%;
    }

    .col_lg_8 {
        width: 61.6667%;
    }

    .col_lg_7 {
        width: 58.3333%;
    }

    .col_lg_6 {
        width: 50%;
    }

    .col_lg_5 {
        width: 41.6667%;
    }

    .col_lg_4 {
        width: 33.3333%;
    }

    .col_lg_3 {
        width: 25%;
    }

    .col_lg_2 {
        width: 16.6667%;
    }

    .col_lg_1 {
        width: 8.3333%;
    }

    /* about */
    .about_img {
        min-height: 8rem;
    }

    /* banner */
    .banner>.row {
        min-height: 12rem;
    }

}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    :root {
        font-size: 2.5em;
    }

    .container,
    .container_md,
    .container_lg,
    .container_x_lg {
        width: 1140px;
    }

    /* about */
    .about_img {
        min-height: 9rem;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

    :root {
        font-size: 3em;
    }

    .container,
    .container_md,
    .container_lg,
    .container_x_lg,
    .container_xx_lg {
        width: 1320px;
    }

    /* about */
    .about_img {
        min-height: 11rem;
    }
}

/* XX-SMALL devices only */
@media (max-width: 320px) {}

/* X-SMALL FEVICES AND BELOW */
@media (max-width: 575px) {}